<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 <servlet>
 <servlet-name>abc</servlet-name>
 <servlet-class>App.SystemServlet</servlet-class>
 
 </servlet>
 <servlet-mapping>
 <servlet-name>abc</servlet-name>
 <url-pattern>/LogoutServlet</url-pattern>
 <url-pattern>/LoginServlet</url-pattern>
 <url-pattern>/RegisterServlet</url-pattern>
 <url-pattern>/ForgetpassServlet</url-pattern>
 <url-pattern>/TableServlet</url-pattern>
 <url-pattern>/statservlet</url-pattern>
 </servlet-mapping>
 </web-app>